<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <!-- DOCUMENTS -->
      <package id="adobereader" packageParameters="/RemoveDesktopIcons" />
      <package id="googledrive" />
      <package id="libreoffice-fresh" />
      
      <!-- WEB -->
      <package id="firefox" />
      <package id="googlechrome" />
      
      <!-- MEDIA -->
      <package id="vlc" />
      <package id="audacity" />
      <package id="audacity-lame" />
      <package id="spotify" />
      
      <!-- DEV -->
      <package id="notepadplusplus.install" />
      <package id="git.install" packageParameters="/GitAndUnixToolsOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration" />
      <package id="poshgit" />
      <package id="conemu" />
      <package id="nuget.commandline" />
      <package id="vscode" packageParameters="/NoDesktopIcon" />
      <package id="nodejs-lts" />
      <package id="firacode" />
      
      <!-- ENTERTAINMENT -->
      <package id="steam" />
      <package id="discord.install" />
      <package id="musescore" />
      
      <!-- OTHER -->
      <package id="greenshot" />
    </packages>
